.settings-content {
  width: 80%;
}

.settings-add {
  display: flex;
  justify-content: flex-end;
}

.settings-add button {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.settings-form {
  margin: 20px;
  display: flex;
  width: 100%;
}

.settings-form input {
  height: 28px;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.settings-form .title{
  width: 260px;
  margin: 0 20px;
}

.settings-form .link {
  width: 450px;
}

.settings-form .checkbox {
  width: 40px;
  margin-left: 10px;
}

.save-settings {
  display: flex;
  justify-content: center;
}

.save-settings button {
  font-size: 18px;
  cursor: pointer;
  width: 200px;
}
