<div class="settings-content">
  <div class="settings-add">
    <button (click)="addLinks()">ADD</button>
  </div>
  <div class="settings-form" *ngFor="let form of links">
    <input class="title" [(ngModel)]="form.title" (change)="changeText('title', form.id)" type="text">
    <input class="link"  [(ngModel)]="form.link" (change)="changeText('link', form.id)" type="text">
    <input class="checkbox" (change)="check(form.id)" checked="{{form.checked ? 'checked' : ''}}" type="checkbox">
  </div>
  <div *ngIf="showSaveButton" class="save-settings">
    <button>Save</button>
  </div>
</div>
