<header class="header">
    <div class="header-nav-bar">
        <ul class="header-nav-bar-ul">
            <li>Մեր մասին</li>
            <li>Վաճառասրահներ</li>
            <li>Ծառայություններ</li>
            <li>Ակցիաներ</li>
            <li>Նվեր-քարտ</li>
            <li>Ապառիկ</li>
        </ul>
        <div>
            <p>ՄՈՒՏՔ</p>
        </div>
    </div>
    <div class="header-title">
        <div class="header-phone" (mouseenter)="showAllNumber()" (mouseleave)="hideNumbers()">
            <img width="400px" height="60px"  src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/hy_AM/images/svg/main_logo_am.svg" alt="img">
        </div>
        <div class="header-search">
            <input type="text" placeholder="Մուտքագրեք ապրանքի անվանումը" >
            <button>ՈՐՈՆԵԼ</button>
        </div>
        <div class="header-phone">
            <h3>+374 11 900 800</h3>
            <p>Զանգահարե՛ք մեզ</p>
        </div>

    </div>
    <div class="header-categories">
        <ul class="header-categories-ul">
            <li>Կատալոգ</li>
            <li>Հեռուստացույցներ, աուդիո և վիդեոտեխնիկա</li>
            <li>Համակարգիչներ, նոթբուքներ, պլանշետներ</li>
            <li>Հեռախոսներ և կապի միջոցներ</li>
            <li>
                Կենցաղային տեխնիկա
            </li>
            <li>
                Խոհանոցային տեխնիկա
            </li>
            <li>Կլիմատիկ տեխնիկա</li>
        </ul>
    </div>
</header>










