<header class="header">
    <div class="header-nav-bar">
        <ul class="header-nav-bar-ul">
            <li>О нас</li>
            <li>Программа лояльности</li>
            <li>Сотрудничество</li>
            <li>Доставка</li>
            <li>Оплата</li>
            <li>Контакты</li>
        </ul>
        <div>
            <p>Войти</p>
        </div>
    </div>
    <div class="header-title">
        <div>
            <a class="tel" href="tel:88005555124">
                8 (800) 555-51-24
            </a>
        </div>
        <div>
            <h1>BRITOLOGY</h1>
        </div>
        <div>
            <p>Search</p>
        </div>
    </div>
    <div class="header-categories">
        <ul class="header-categories-ul">
            <li>Акции</li>
            <li>Идеи подарков</li>
            <li>Бритвы и аксессуары</li>
            <li>Косметика для бритья</li>
            <li>
                Уход за бородой и усами
            </li>
            <li>
                Уход за лицом и телом
            </li>
        </ul>
    </div>
</header>










