.header {
    margin-bottom: 100px;
}
.header-nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.header-nav-bar-ul {
    display: flex;
}

.header-nav-bar-ul li {
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
    color: #777;
}

.header-title {
    padding: 20px 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-search {
    margin: 0 20px;
}

.header-search input {
    height: 30px;
    width: 250px;
    padding: 0 10px;
    outline: none;
    border: 1px solid lightpink;
}

.header-search button {
    height: 32px;
    color: white;
    border: none;
    background-color: #0d5182;
}

.header-phone h3, .header-phone p {
    margin: 0;
    padding: 0;
}

.header-phone {
    margin: 0 30px;
}

.header-phone p{
    color: gray;
}

.header-categories {
    background: linear-gradient(to bottom,#05406a,#05568d);
}

.header-categories-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-categories-ul li {
    padding: 10px;
    color: white;
    list-style-type: none;
    width: 120px;
    margin: 0 20px;
    cursor: pointer;
}

