.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.footer-links ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.footer-links ul li {
  margin: 0 15px;
}

.footer-links ul li a {
  color: gray;
  text-decoration: none;
}
