<div class="todos">
  <div class="todos-form">
      <input type="text" [(ngModel)]="title" class="form-control" placeholder="title" aria-label="Link"
             aria-describedby="addon-wrapping">
    <textarea  [(ngModel)]="description"  class="form-control" id="textAreaExample" placeholder="description" rows="4"></textarea>
    <button (click)="onSave()">Submit</button>
  </div>
  <div class="todos-list">
      <div class="todo-block" *ngFor="let item of todos">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
  </div>
</div>
