<h3 class="mb-5">Register</h3>
<form [formGroup]="registerForm" (submit)="onRegister()">

  <div class="form-outline mb-4">
    <input type="text" formControlName="username" placeholder="username" id="typeEmailX-2"
           class="form-control form-control-lg"
           [ngClass]="registerForm.get('username')?.touched && !registerForm.get('username')?.value ? 'required-input' : ''"/>
    <span class="required" *ngIf="registerForm.get('username')?.touched && !registerForm.get('username')?.value">Username is required</span>
  </div>

  <div class="form-outline mb-4">
    <input type="email" formControlName="email" placeholder="email" id="typeEmailX-3"
           class="form-control form-control-lg"
           [ngClass]="registerForm.get('email')?.touched && !registerForm.get('email')?.value ? 'required-input' : ''"/>
    <span class="required" *ngIf="registerForm.get('email')?.touched  && !registerForm.get('email')?.value">Email is required</span>
    <span class="required" *ngIf="registerForm.get('email')?.hasError('pattern')">Email is invalid</span>
  </div>


  <div class="form-outline mb-4">
    <input type="password" formControlName="password" placeholder="password" id="typePasswordX-2"
           class="form-control form-control-lg"
           [ngClass]="registerForm.get('password')?.touched && !registerForm.get('password')?.value ? 'required-input' : ''"/>
    <span class="required" *ngIf="registerForm.get('password')?.touched  && !registerForm.get('password')?.value">Password is required</span>
  </div>


  <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onRegister()">Register</button>
</form>
<hr class="my-4">

