.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content-titles {
  display: flex;
  justify-content: center;
}

.nav-item {
  width: 300px;
  text-align: center;
}
