    <div class="card">
        <div class="card-img">
            <img src={{card.img}}
                 alt="img">
        </div>
        <div class="card-category">
            <p>{{card.category}}</p>
        </div>
        <div class="card-description">
            <p>{{card.name}}</p>
          <div id="{{card.id}}" (click)="handleLike()">
            <img *ngIf="!card.liked" width="25" height="25" src="../../assets/images/no-liked.png" alt="img">
            <img *ngIf="card.liked" width="25" height="25" src="../../assets/images/liked.png" alt="img">
          </div>
        </div>
        <div class="card-price">
            <p>{{card.price}} ֏</p>
        </div>
        <div class="card-button">
            <button>Գնել</button>
            <button>Համեմատել</button>
        </div>
    </div>
