    <div class="card">
        <div class="card-img">
            <img src={{card.img}}
                 alt="img">
        </div>
        <div class="card-category">
            <p>{{card.category}}</p>
        </div>
        <div class="card-description">
            <p>{{card.name}}</p>
        </div>
        <div class="card-price">
            <p>{{card.price}} ֏</p>
        </div>
        <div class="card-button">
            <button>Գնել</button>
            <button>Համեմատել</button>
        </div>
    </div>
