.main-dashboard {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 90vh;
  width: 100%;
}

.dashboard-ul {
  margin-top: 40px;
  padding: 0;
}
.dashboard-ul li {
  list-style-type: none;
  text-align: center;
}

.dashboard-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 99%;
  border: 1px solid black;
  padding: 10px 0;
}

