<h3 class="mb-5">Recover Password</h3>

<div class="form-outline mb-4">
  <input type="email" [(ngModel)]="username" placeholder="Username" id="typeEmailX-2" class="form-control form-control-lg"/>
  <span class="required" *ngIf="userNameError && !username">Username is required</span>
</div>

<div class="form-outline mb-4">
  <input type="password"  [(ngModel)]="password" placeholder="New password" id="typePasswordX-2" class="form-control form-control-lg"/>
  <span class="required" *ngIf="passwordError && !password">Password is required</span>
</div>

<button class="btn btn-primary btn-lg btn-block" (click)="onSave()" type="submit">Save</button>

<hr class="my-4">

