<h3 class="mb-5">Recover Password</h3>
<form [formGroup]="recoverForm" (submit)="onSave()">
  <div class="form-outline mb-4">
    <input type="email" formControlName="username" placeholder="Username" id="typeEmailX-2" class="form-control form-control-lg"
           [ngClass]="recoverForm.touched && !recoverForm.get('username')?.value ? 'required-input' : ''"/>
    <span class="required" *ngIf="recoverForm.get('username')?.touched && !recoverForm.get('username')?.value">Username is required</span>
  </div>

  <div class="form-outline mb-4">
    <input type="password" placeholder="New password" id="typePasswordX-2"
           formControlName="password" class="form-control form-control-lg"
           [ngClass]="recoverForm.touched && !recoverForm.get('password')?.value ? 'required-input' : ''"/>
    <span class="required" *ngIf="recoverForm.get('password')?.touched  && !recoverForm.get('password')?.value">Password is required</span>
  </div>
  <button class="btn btn-primary btn-lg btn-block" (click)="onSave()" type="submit">Save</button>
</form>
<hr class="my-4">

